.clientContent {
  width: 100%;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.ourClientText {
  font-size: 5rem;
  color: #ff4c1a;
  text-transform: uppercase;
}

.clientsContainer {
  width: 90rem;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.biLogo {
  position: relative;
  width: calc(1rem * 236.84 * 0.0625);
  height: calc(1rem * 75 * 0.0625);
  filter: drop-shadow(5px 5px 10px #000000);
}
.brandLogo {
  position: relative;
  width: calc(1rem * 192.31 * 0.0625);
  height: calc(1rem * 166.83 * 0.0625);
  filter: drop-shadow(5px 5px 2px #000000);
}
.astronaut {
  width: calc(1rem * 490 * 0.0625);
  height: calc(1rem * 1104 * 0.0625);
  position: absolute;
  bottom: -40rem;
  left: -2rem;
}
.spaceship {
  width: calc(1rem * 1191 * 0.0625);
  height: calc(1rem * 794 * 0.0625);
  position: absolute;
  bottom: -26rem;
  right: -26rem;
}
@media only screen and (max-width: var(--phone-threshold)) {
  .brandLogo {
    width: calc(1rem * 192.31 * 0.0625 * 0.75);
    height: calc(1rem * 166.83 * 0.0625 * 0.75);
  }
  .astronaut {
    bottom: -40rem;
  }
  .spaceship {
    right: -26rem;
  }
}
@media only screen and (max-width: var(--small-phone-threshold)) {
  .brandLogo {
    width: calc(1rem * 192.31 * 0.0625 * 0.75);
    height: calc(1rem * 166.83 * 0.0625 * 0.75);
  }
  .astronaut {
    width: calc(1rem * 490 * 0.0625 * 0.5);
    height: calc(1rem * 1104 * 0.0625 * 0.5);
    bottom: -20rem;
  }
  .spaceship {
    width: calc(1rem * 1191 * 0.0625 * 0.5);
    height: calc(1rem * 794 * 0.0625 * 0.5);
    right: -6rem;
    bottom: -16rem;
  }
}
