.youtubeContainer {
  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  z-index: 200;
}

.youtubeVideo {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}
