.footerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.moon {
  position: absolute;
  width: calc(1rem * 1358 * 0.0625);
  height: calc(1rem * 445 * 0.0625);
  bottom: 0;
}
