:root {
  --nav-bg: rgba(255, 255, 255, 0.5);
  --small-phone-threshold: 450px;
  --phone-threshold: 800px;
  --tablet-threshold: 1400px;
  --laptop-threshold: 1920px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: black;
}

@media only screen and (min-width: 0px) {
  html {
    font-size: 6.75px;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}
