.serviceContent {
  width: 100%;
  max-width: 1600px;
  max-width: calc(1rem * 1600 * 0.0625);
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 100;
}

.selection {
  position: relative;
  z-index: 20;
  max-height: 3.3125rem;
  margin-top: 6rem;
  overflow-y: visible;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.serviceTextContainer {
  min-width: 20rem;
  max-width: 20rem;
  position: relative;
  z-index: 1;
}

.serviceText {
  min-width: 20rem;
  max-width: 20rem;
  font-weight: 600;
  color: white;
  font-size: 1.5rem;
  text-wrap: wrap;
  text-align: center;
  position: absolute;
  top: -1rem;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.serviceTextOneLeft {
  animation-name: oneLeft;
}
.serviceTextTwoLeft {
  animation-name: twoLeft;
}
.serviceTextThreeLeft {
  animation-name: threeLeft;
}
.serviceTextFourLeft {
  animation-name: fourLeft;
}
.serviceTextFiveLeft {
  animation-name: fiveLeft;
}
.serviceTextSixLeft {
  animation-name: sixLeft;
}
.serviceTextSevenLeft {
  animation-name: sevenLeft;
}

@keyframes oneLeft {
  from {
    top: -21.5rem;
    left: -48rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }

  to {
    top: -32rem;
    left: -35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }
}
@keyframes twoLeft {
  from {
    top: -7rem;
    left: -34rem;
    font-size: calc(2rem * 0.75);
  }

  to {
    top: -21.5rem;
    left: -48rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }
}
@keyframes threeLeft {
  from {
    top: -1rem;
    left: 0rem;
    font-size: 2rem;
  }

  to {
    top: -7rem;
    left: -34rem;
    font-size: calc(2rem * 0.75);
  }
}
@keyframes fourLeft {
  from {
    top: -7rem;
    left: 34rem;
    font-size: calc(2rem * 0.75);
  }

  to {
    top: -1rem;
    left: 0rem;
    font-size: 2rem;
  }
}
@keyframes fiveLeft {
  from {
    top: -21.5rem;
    left: 48rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }

  to {
    top: -7rem;
    left: 34rem;
    font-size: calc(2rem * 0.75);
  }
}
@keyframes sixLeft {
  from {
    top: -32rem;
    left: 35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }

  to {
    top: -21.5rem;
    left: 48rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }
}
@keyframes sevenLeft {
  0% {
    top: -32rem;
    left: -35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }

  50% {
    top: -40rem;
    left: 0rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75 * 0.75);
  }

  100% {
    top: -32rem;
    left: 35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }
}

.serviceTextOneRight {
  animation-name: oneRight;
}
.serviceTextTwoRight {
  animation-name: twoRight;
}
.serviceTextThreeRight {
  animation-name: threeRight;
}
.serviceTextFourRight {
  font-size: 2rem;
  animation-name: fourRight;
}
.serviceTextFiveRight {
  animation-name: fiveRight;
}
.serviceTextSixRight {
  animation-name: sixRight;
}
.serviceTextSevenRight {
  animation-name: sevenRight;
}

/* .serviceTextOneFloat { */
/*   animation-name: floating; */
/*   animation-duration: 5s; */
/*   animation-iteration-count: infinite; */
/*   animation-fill-mode: backwards; */
/*   animation-delay: 1s; */
/* } */

@keyframes floating {
  0% {
    translate: -40rem -30.5rem;
  }

  50% {
    translate: -40rem -29rem;
  }

  100% {
    translate: -40rem -30.5rem;
  }
}

@keyframes oneRight {
  0% {
    top: -32rem;
    left: 35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }

  50% {
    top: -40rem;
    left: 0rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75 * 0.75);
  }

  100% {
    top: -32rem;
    left: -35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }
}
@keyframes twoRight {
  from {
    top: -32rem;
    left: -35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }

  to {
    top: -21.5rem;
    left: -48rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }
}
@keyframes threeRight {
  from {
    top: -20rem;
    left: -50rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }

  to {
    top: -7rem;
    left: -34rem;
    font-size: calc(2rem * 0.75);
  }
}
@keyframes fourRight {
  from {
    top: -7rem;
    left: -34rem;
    font-size: calc(2rem * 0.75);
  }

  to {
    top: -1rem;
    left: 0rem;
    font-size: 2rem;
  }
}
@keyframes fiveRight {
  from {
    top: -1rem;
    left: 0rem;
    font-size: 2rem;
  }

  to {
    top: -7rem;
    left: 34rem;
    font-size: calc(2rem * 0.75);
  }
}
@keyframes sixRight {
  from {
    top: -7rem;
    left: 34rem;
    font-size: calc(2rem * 0.75);
  }

  to {
    top: -21.5rem;
    left: 48rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }
}
@keyframes sevenRight {
  from {
    top: -21.5rem;
    left: 48rem;
    font-size: calc(2rem * 0.75 * 0.75);
  }

  to {
    top: -32rem;
    left: 35rem;
    font-size: calc(2rem * 0.75 * 0.75 * 0.75);
  }
}
